%html
  %head
    %title InstagramOnRails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .main-container
      %div
        - if !user_signed_in?
          %ul
            %li= link_to "Join", new_user_registration_path
            %li= link_to "Log in", new_user_session_path

      .container-fluid
        -flash.each do |name, msg|
          =content_tag :div, msg    
        
      .main-container__feed
        = render "components/header"
        = yield

      = render "components/nav"
